.vouchers {
    &__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-top: var(--mb-6);

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 210px);
            column-gap: 4rem;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--container-color);
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
        padding: 0.75rem;

        @media (min-width: 768px) {
            padding: 1.5rem;
        }
    }

    &__icon {
        padding: 1rem;
        border-radius: 9999px;
        background-color: transparent;
        color: var(--first-color);
        font-size: var(--h2-font-size);
        line-height: 1;
        border: 2px dotted var(--first-color);
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        align-self: center;
        margin-bottom: var(--mb-4);
        z-index: 2;

        &::before, &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 9999px;
            background-color: var(--container-color);
            border: 2px solid var(--first-color);
            z-index: -1;
        }

        &::before {
            width: 90px;
            height: 90px;
        }

        &::after {
            border-style: dotted;
            width: 80px;
            height: 80px;
        }
    }

    &__name {
        color: var(--title-color);
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
    }

    &__detail {
        font-size: var(--small-font-size);
    }

    &__button {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        padding: 0.625rem 0.813rem;
        border-radius: 0.5rem 0 0.5rem 0;
    }
}